html
  head
    title!= title
    meta(http-equiv='Refresh' content='5')
    style.
      body {
        background-color: #{color};
        color: white;
        text-align: center;
        font-size: 48px;
        font-family: Verdana;
        font-weight: bold;
      }
  body
    div!= message